<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" [@cardtable1]>
                    <div class="header">
                        <h4 class="title">Usuarios</h4>
                        <p class="category">Se pueden modificar los privilegios</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Alias</th>
                                    <th>Privilegios</th>
                                </tr>
                            <tbody>
                                    <tr *ngFor="let user of users">
                                        <td>{{user.username}}</td>
                                        <td>{{user.alias}}</td>
                                        <td>{{user.privileges == -1 ? "Todos" : (user.privileges == 0 ? "Solo Lectura" : "Lectura y Escritura")}}</td>
                                    </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
